.qbutton.small {
    padding: 0;
}

.q_progress_bar .progress_title_holder {
    margin: 0 0 9px;
}

.qode_video_box .qode_video_image .qode_video_box_button {
    background-color: #28395b;
}

.qode_video_box .qode_video_image:hover .qode_video_box_button {
    background-color: #2e4063;
}

.qode_video_box .qode_video_image:hover .qode_video_box_button_arrow, .qode_video_box .qode_video_image .qode_video_box_button_arrow {
    border-left-color: #fff;
}

h5.qode-tfs-author-name {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}

.qode-twitter-feed-shortcode .qode-tfs-inner .qode-tfs-info {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
}

.testimonials_c_holder .testimonial_content_inner {
    background: #3c4c6d;
    padding: 53px 45px 57px;
}

.testimonial_title_holder h5 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
}

.testimonials_c_holder .testimonial_content_inner .testimonial_rating_holder {
    color: #8a94a7;
    margin: 16px 0 20px;
}

.testimonials_c_holder .testimonial_content_inner .testimonial_image_holder {
    margin-bottom: 25px;
}

.testimonials_c_holder .testimonial_content_inner .testimonial_author {
    margin-top: 19px;
}

.footer_top .widget_nav_menu ul li {
    padding: 0;
}

.footer_top a:hover {
    text-decoration: underline;
}

.wpcf7 form.wpcf7-form p {
    margin-bottom: 2px;
}

.footer_top h5 {
    margin: 0 0 12px;
}

header .header_top .q_social_icon_holder {
    width: 29px;
}

.header-widget.widget_nav_menu ul.menu li a:hover {
    color: #fff !important;
    text-decoration: underline;
}

.header-widget.widget_nav_menu ul.menu li a {
    padding: 0 0 0 21px;
}

.header-widget.widget_nav_menu {
    padding: 0 19px 0 0;
}

 nav.main_menu>ul>li.active>a>span:not(.plus) {
position: relative;
display: inline-block;
vertical-align: middle;
padding: 16px 29px 18px;
border-radius: 1px;
background-color: #f6f6f6;
}

header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a{
    opacity: 1;
}

.carousel-inner .slider_content .text .qbutton {
    margin: 21px 0 0;
}

.gallery_holder ul li .gallery_hover {
    background-color: rgba(40,57,91,.95);
}

 .qbutton.small .qode_button_icon_element {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 7px;
}

.qbutton.small:hover .qode_button_icon_element{
    color: inherit !important;
}

.title.title_size_small h1 {
    text-transform: none;
}

.widget #searchform {
    border: 1px solid #e5e5e5;
}

.widget.widget_search form input[type=text] {
   padding: 9px 6% 10px;
    width: 65%;
}

.widget.widget_search form input[type=submit] {
    padding: 0 2% 0 0;
    height: 52px;
    line-height: 52px;
}

.qode-ttevents-single-subtitle {
    color: #b10025;
    font-size: 13px;
}

.q_icon_list {
    margin-bottom: 15px;
}

aside .widget {
    margin: 0 0 28px;
}

.qode-ttevents-single .qode-ttevents-single-image-holder {
    margin-bottom: 37px;
}

.qode-ttevents-single .qode-ttevents-single-content {
    margin-top: 21px;
}

.tt_timetable .event a, .tt_timetable .event .event_header, table.tt_timetable .event .tt_tooltip_content a {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.qode-ttevents-single .tt_event_hours li p {
    font-weight: 400;
    color: #b10025;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (min-width: 1001px) and (max-width: 1024px) {
nav.main_menu > ul > li > a {
    padding: 0 19px;
}
}

/*DB Additional CSS */

@media only screen and (min-width: 1566px) {
 .q_logo {
    left:86px!important;
  }
}

h2.q_slide_title {
text-shadow: 0 0 0.3em black;
}

.title.title_size_large h1 {
font-size:52px;
margin-top:.8em;
}

.breadcrumb {
    position: absolute;
    height: 100%;
    font-size: 13px;
    top: -52px;
    left: 0;
}

@media only screen and (max-width: 1000px) {
.title {
    height: 120px!important;
}
}

@media only screen and (max-width: 480px) {
.title.title_size_large h1 {
    font-size: 32px!important;
}
}

@media only screen and (max-width: 600px) {
.title.title_size_large h1 {
    font-size: 32px!important;
    line-height: 35px!important;
}
}

p {
  margin-bottom:18px;
}

@media only screen and (max-width: 600px) {
.carousel-inner .slider_content_outer {
  width: 90%;
  top:-58px;
}

.wpb_wrapper a.qbutton.small.default {
    padding-bottom: 1em;
}

.qode-advanced-call-to-action {
    margin-bottom: 1em;
}
}

.breadcrumb {

top:-67px;
}

h2 {
margin-bottom: 30px;
}

h3, h4 {
margin-bottom: 20px;
}

li {
    margin-bottom: 18px!important;
}

/*
@media only screen and (min-width: 1001px) and (max-width: 1065px) {
  nav.main_menu {
      top: 25%;
    }
  nav.main_menu > ul > li > a {
        font-size:16px;
    }
}

@media only screen and (min-width: 1066px) and (max-width: 1496px) {
  nav.main_menu > ul > li > a {
    font-size:16px!important;
      }

    .header_bottom.clearfix {
    height: 200px;
}
}

@media only screen and (min-width: 1066px) and (max-width: 1358px) {
nav.main_menu {
    top: 40%;
  }
}

@media only screen and (max-width: 1037px) {
.mobile_menu_button {
    display: table;
}
}

@media only screen and (max-width: 1037px) {
.main_menu {
    display: none!important;
}
nav.mobile_menu {
    display: block;
}
nav.mobile_menu>ul {
    width: 768px;
    margin: 0 auto;
}
}
.footer_top .widget.widget_nav_menu li {
margin-bottom:0!important;
}
*/


ol {
	margin-left: 2em;
}

/*.drop_down .second .inner {
	left: 24px;
	top: -30px;
}

li.narrow .second .inner ul {
	padding-top: .4em;
	padding-bottom: 0;
	text-align: center;
}

li.active .second .inner {
	left: 50px !important;
	width: 100%;
}
*/

.drop_down .second .inner {
    padding: 0 26px;
}

#menu-main-menu li {
    margin-bottom: 0;
}

.drop_down .narrow .second .inner ul li a {
    padding: 10px 20px;
}

#menu-main-menu li {
    margin-bottom: 0!important;
}

.drop_down .narrow .second .inner ul li {
    padding: 5px;
}

@media only screen and (min-width: 1001px) and (max-width: 1017px) {
  nav.main_menu > ul > li > a {
    font-size:17px;
  }
}

@media only screen and (min-width: 1018px) and (max-width: 1024px) {
  nav.main_menu > ul > li > a {
    margin:0 0.1em;
    font-size:17px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1040px) {
  nav.main_menu > ul > li > a {
    margin: -.3em;
    font-size:17px;
  }
}

@media only screen and (min-width: 1041px) and (max-width: 1060px) {
  nav.main_menu > ul > li > a {
    margin: -.2em;
    font-size:17px;
  }
}

@media only screen and (min-width: 1061px) and (max-width: 1081px) {
  nav.main_menu > ul > li > a {
    margin: -.1em;
    font-size:17px;
  }
}

@media only screen and (min-width: 1082px) and (max-width: 1101px) {
  nav.main_menu > ul > li > a {
    margin: 0;
    font-size:17px;
  }
}

@media only screen and (min-width: 1102px) and (max-width: 1116px) {
  nav.main_menu > ul > li > a {
    margin: -.1em;
    font-size:18px;
  }
}

@media only screen and (min-width: 1117px) and (max-width: 1232px) {
  .q_logo img
  {
    height:auto!important;
    max-width:150px;
  }
}

@media only screen and (min-width: 1118px) and (max-width: 1158px) {
  .q_logo img
  {
    height:auto!important;
    max-width:150px;
    left:-30px;
  }
}
 
@media only screen and (min-width: 1117px) and (max-width: 1209px) {
  nav.main_menu > ul > li > a {
    margin-top: 3.7em;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1118px) and (max-width: 1304px) {
  nav.main_menu.right, nav.main_menu > ul > li > a {
      font-size:16px;
      margin-top: 0;
      padding-right: 1em;
  }
}

@media only screen and (min-width: 1305px) and (max-width: 1459px) {
  nav.main_menu.right, nav.main_menu > ul > li > a {
      font-size:18px;
      margin-top: 0;
  }
}

@media only screen and (min-width: 1460px) {
  nav.main_menu.right {
      margin-top: 0;
  }
}

.vc_row {
	padding: 2rem 0;
}

.vc_row:first-of-type {
	padding-top: 1em;
}

.footer_top .widget.widget_nav_menu li {
    margin-bottom: 0!important;
}

.blog_holder article .post_info {
    display: none;
}

.post_more .qbutton.small {
    padding: .6em;
}

p.latest_post_two_excerpt {
    overflow: hidden;
}

@media only screen and (max-width:814px) {
  .welcome h1 {
    font-size: 38px!important;
    }

  .welcome p {
    font-size: 18px!important;
  }
}

.facts p {
    font-size:16px;
}

span.date.entry_date.updated {
    display: none;
}

a.qbutton.small.default {
    background-color: rgba(0,0,0,0.0)!important;
}

.carousel-inner .slider_content .text .qbutton:not(.white) {
    color: #ffffff !important;
    background-color: rgba(0,0,0,0)!important;
    border: 2px solid;
    border-radius: 0 0 20px 0;
}

.carousel-inner .slider_content .text .qbutton:not(.white):hover {
  background-color: #011A5D!important;
}

i.qode_icon_font_awesome.fa.fa-arrow-circle-right.qode_button_icon_element, i.qode_icon_font_awesome.fa.fa-arrow-circle-o-right.qode_button_icon_element {
    color: #00afce!important;
}

a.qbutton.small.default {
    color: #00afce!important;
}

i.qode_icon_font_awesome.fa.fa-arrow-circle-right.qode_button_icon_element:hover, i.qode_icon_font_awesome.fa.fa-arrow-circle-o-right.qode_button_icon_element:hover {
    color: #3B3B3B!important;
}

a.qbutton.small.default:hover {
    color: #3B3B3B!important;
}

span.qode_icon_font_elegant.social_facebook, span.qode_icon_font_elegant.social_twitter {
  background-color:#00afce!important;
}

span.qode_icon_font_elegant.social_facebook:hover, span.qode_icon_font_elegant.social_twitter:hover {
  background-color:#3B3B3B!important;
}

a#apply-button, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]), .qbutton, .qbutton.medium {
    border-radius: 0 0 20px 0;
}

.cpd-quote p {
    color:#fff;
    font-size:20px;
    font-weight:700;
}

.vc_row.wpb_row.section.vc_row-fluid.welcome.grid_section:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
display:block;
}
